@media (max-width:576px) or (max-width:998px){
    html{
	  max-width: 100%;
  height: auto;
  background: linear-gradient(#FFA07A,#E0FFFF);
}
body{
	color: #000
}
header{
	    color: white;
    position: relative;
        color: white;
    display: block;
    height: 0.5em;
    left: 0;	
    width: 100%;
}
main{
	margin-top: 10px;
}
.buttons{
	display: flex;
	justify-content: space-between;
}
.dropbtn {
    background-color:#4682B4;
    color: white;
    padding: 0.8em;
    font-size: 0.8em;
    border: none;
    border-radius: 10px;
}
.main-button{
	padding: 0.8em;
    font-size: 0.8em;
	background-color: #FAEBD7;
	border-radius: 10px;
	border-style: none;
	 display: inline-block;

}
.k-1{
	margin-left: auto;
    margin-right:auto;
  vertical-align: middle;
  max-width: 90%;
  height: auto;
  width: 100%; 
  height: auto;
  margin-bottom: 1em;
}
.inf{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}
.inf-3{
		display: flex;
	justify-content: center;
	font-size: 1.5em;
	width: 90%;
	margin-left: auto;
    margin-right: auto;
	text-align: justify;
}

.footer{
	background: linear-gradient(#E0FFFF,#5F9EA0);	
    color: black;
    display: block;
    height: 150px;
    left: 0;
    position: absolute;
    width: 100%;
}
.contacts{
	display: flex;
	justify-content: center;
}
.icons{
	display: flex;
	justify-content: center;
}
.ds{
	margin-left: 1em;
}
.tg{
	margin-right: 1em;
}
.table{
    position: relative;
	width: 15em;
	height: 15em;
	background-color: grey;
        margin-left: auto;
    margin-right: auto;
}
    ymaps{
        width:100%;
        height: 100%;
    }
}
